.Rproj.user
.Rhistory
.RData
.Ruserdata
mapped_reads.pdf
tmp.pdf
tmp.csv
tmp.sig.csv
ik_demo.R
ik_features_config.csv
ik_signal_config.csv
bam_config.csv
example.*
dev.spp.R
dev_spp.R
sts_dev.save
dev_object.ssvQC.plotSignal.Rds
dev_corr.R
*.txt
*.csv
*.Rds
*.pdf